html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    font-family: 'Marcellus SC', serif;
    background-color: #fff;
    color: #111;
}

main {
    flex: 1;
    display: flex;
    flex-direction: column;
}

        
footer {
    background-color: #5D3535;
    text-align: center;
    padding: 2rem 1rem;
    color: #fff;
    margin-top: auto;
    width: 100%;
    box-sizing: border-box;
}

.cabecalho {
  width: 100%;
  background-color: #fff;
  border-bottom: 1px solid #ccc;
  padding: 10px 0;
}

.cabecalho .container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo img {
  height: 90px;
  width: auto;
}

.menu ul {
  list-style: none;
  display: flex;
  gap: 30px;
  margin: 0;
  padding: 0;
}

.menu li a {
  text-decoration: none;
  color: #4b0000;
  font-weight: bold;
  font-size: 15px;
  transition: color 0.3s;
}

.menu li a:hover {
  color: #BF7D7D;
}
 
    h1 {
      text-align: center;
      padding-top: 30px;
      font-size: 32px;
    }

    .container {
      display: flex;
      justify-content: center;
      gap: 40px;
      flex-wrap: wrap;
      padding: 30px;
    }

    .form-box {
      border: 1px solid #ddd;
      border-radius: 8px;
      padding: 30px;
      width: 350px;
      box-sizing: border-box;
    }

    h2 {
      font-size: 20px;
      margin-bottom: 20px;
    }

    label {
      display: block;
      margin-bottom: 6px;
      font-weight: bold;
    }

    input[type="text"],
    input[type="email"],
    input[type="password"] {
      width: 100%;
      padding: 10px;
      margin-bottom: 15px;
      border: 1px solid #ccc;
      border-radius: 4px;
    }

    .checkbox-label {
      display: flex;
      align-items: center;
      gap: 8px;
      margin-bottom: 15px;
    }

    .form-box p {
      font-size: 14px;
      margin-bottom: 10px;
    }

    .form-box a {
      color: #000000;
      text-decoration: none;
    }

    .form-box a:hover {
      text-decoration: underline;
    }

    button {
      background-color: #210a0c;
      color: white;
      border: none;
      padding: 12px 20px;
      font-weight: bold;
      border-radius: 4px;
      cursor: pointer;
    }

    button:hover {
      background-color: #463436;
    }

    .privacy {
      font-size: 13px;
      color: #333;
    }

    .privacy a {
      color: #a50013;
    }

.container {
  display: flex;
  justify-content: center;
  gap: 40px;
  flex-wrap: wrap;
}

.form-box {
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 30px;
  width: 350px;
  box-sizing: border-box;
  text-align: center;
}

#account-panel .form-box {
  max-width: 500px;
}

    @media (max-width: 800px) {
      
      .container {
        flex-direction: column;
        align-items: center;
      }

      .form-box {
        width: 90%;
      }}
