/* ================== CARDS ================== */
.card {
  position: relative;
  width: 100%;
  max-width: 250px; /* tamanho máximo do card */
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.863);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;
}

.card img {
  width: 100%;
  height: auto; /* mantém proporção da imagem */
  display: block;
  object-fit: cover; /* garante que preencha sem distorcer */
  transition: opacity 0.4s ease-in-out, transform 0.4s ease-in-out;
}

/* ================== MOSTRUÁRIO ================== */
.mostruario .anuncio {
  flex: 1 1 300px;
  max-width: 400px;
  background: #fff;
  border: 3px solid #491f1f; 
  border-radius: 12px;
  box-shadow: 0 8px 8px rgba(31, 18, 18, 0.658);
  overflow: hidden;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.mostruario .anuncio img {
  width: 100%;
  height: auto; /* mantém proporção */
  display: block;
  border-radius: 10px;
  object-fit: cover;
}

/* ================== TOP IMAGE ================== */
.top-img {
  width: 100%;
  height: auto; /* mantém proporção */
  display: block;
  object-fit: cover;
}
